In [3]:
# Pandas is a python library used for working and manupulating with datasets.Name "Pandas" references to both "Panel Data", and "Python Data Analysis"
# Importing a library is a one-time action

import pandas as pd

In [4]:
# uploading the csv file to variable "dataset" using read_csv function from pandas library
dataset=pd.read_csv("Salary_Data.csv")

In [3]:
dataset

    YearsExperience    Salary
0               1.1   39343.0
1               1.3   46205.0
2               1.5   37731.0
3               2.0   43525.0
4               2.2   39891.0
5               2.9   56642.0
6               3.0   60150.0
7               3.2   54445.0
8               3.2   64445.0
9               3.7   57189.0
10              3.9   63218.0
11              4.0   55794.0
12              4.0   56957.0
13              4.1   57081.0
14              4.5   61111.0
15              4.9   67938.0
16              5.1   66029.0
17              5.3   83088.0
18              5.9   81363.0
19              6.0   93940.0
20              6.8   91738.0
21              7.1   98273.0
22              7.9  101302.0
23              8.2  113812.0
24              8.7  109431.0
25              9.0  105582.0
26              9.5  116969.0
27              9.6  112635.0
28             10.3  122391.0
29             10.5  121872.0

In [4]:
# Assigning a seperate column of dataset to a variable
    # Splitting input and output variable

independent=dataset[["YearsExperience"]]
independent

    YearsExperience
0               1.1
1               1.3
2               1.5
3               2.0
4               2.2
5               2.9
6               3.0
7               3.2
8               3.2
9               3.7
10              3.9
11              4.0
12              4.0
13              4.1
14              4.5
15              4.9
16              5.1
17              5.3
18              5.9
19              6.0
20              6.8
21              7.1
22              7.9
23              8.2
24              8.7
25              9.0
26              9.5
27              9.6
28             10.3
29             10.5

In [5]:
dependent=dataset[["Salary"]]
dependent

      Salary
0    39343.0
1    46205.0
2    37731.0
3    43525.0
4    39891.0
5    56642.0
6    60150.0
7    54445.0
8    64445.0
9    57189.0
10   63218.0
11   55794.0
12   56957.0
13   57081.0
14   61111.0
15   67938.0
16   66029.0
17   83088.0
18   81363.0
19   93940.0
20   91738.0
21   98273.0
22  101302.0
23  113812.0
24  109431.0
25  105582.0
26  116969.0
27  112635.0
28  122391.0
29  121872.0

In [7]:
# Splitting train set and test set using *sklearn library*
# Callling train_test_split() function with passing parameters

from sklearn.model_selection import train_test_split
train_test_split(independent, dependent, test_size=0.30, random_state=0)

[    YearsExperience
 22              7.9
 5               2.9
 16              5.1
 8               3.2
 14              4.5
 23              8.2
 20              6.8
 1               1.3
 29             10.5
 6               3.0
 4               2.2
 18              5.9
 19              6.0
 9               3.7
 7               3.2
 25              9.0
 3               2.0
 0               1.1
 21              7.1
 15              4.9
 12              4.0,
     YearsExperience
 2               1.5
 28             10.3
 13              4.1
 10              3.9
 26              9.5
 24              8.7
 27              9.6
 11              4.0
 17              5.3,
       Salary
 22  101302.0
 5    56642.0
 16   66029.0
 8    64445.0
 14   61111.0
 23  113812.0
 20   91738.0
 1    46205.0
 29  121872.0
 6    60150.0
 4    39891.0
 18   81363.0
 19   93940.0
 9    57189.0
 7    54445.0
 25  105582.0
 3    43525.0
 0    39343.0
 21   98273.0
 15   67938.0
 12   56957.0,
       Salary
 2    37731.0
 28  122391.0
 13   57081.0
 10   63218.0
 26  116969.0
 24  109431.0
 27  112635.0
 11   55794.0
 17   83088.0]

In [8]:
# Splitting Train set and Test set

## You can see totally four lists were returned while using sklearn's function. We should assign each
## list to a variable, so that only we can assign them as input for another function
## x_train - Train set input, x_test - Test set input, y_train - Train set o/p, y_test - Test set o/p

### we can use sklearn library only is we seperate data like this. Beacuse the library is set that way
x_train,x_test,y_train,y_test=train_test_split(independent, dependent, test_size=0.30, random_state=0)

### Model Creation
#### ---> Regression is a method for understanding the relationship between independent variables or features and a dependent variable or outcome
--->  A regressor is a statistical term. It refers to any variable in a regression model that is used to predict a response variable.
    We are mentioning here as regressor(variable) for easy understanding, which is followed in most companies

In [9]:
# Using class - LinearRegression from sklearn Lib to create Model
# First two lines here is called as "Procedure"
## Third line - Calling the fit() function inside regressor through Access operator(.), thereby providing I/P & O/P of train set for the Model(AI Brain) to be created

from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor.fit(x_train,y_train)

LinearRegression()

The formula to calculate the Slope(w) and Bias(b) of [Y = WX + B] is already coded in class - LinearRegression. Once we gave the training set data the both values were calculated and Model gets created

In [11]:
# Displaying the slope calculated - Assigning to variable 'slope'
#    'coef_' is a function in library which contains formula to calculate slope

slope=regressor.coef_
slope

array([[9360.26128619]])

In [12]:
# Displaying the bias value calculated - Assigning to variable 'bias'
#    'intercept_' is a function in library which contains formula to calculate slope

bias=regressor.intercept_
bias

array([26777.3913412])

### Evaluating metrics of the Model created using test set
##### In Evaluation metrics we will be using the Test data input(X_test) to do prediction (y_pred)

In [13]:
# Note - Reason for Using regressor multiple times is because, all functions(LinearRegression) were imported here.
## predict functions contains formula[Y = WX + b] to calculate the predicted O/P

y_pred=regressor.predict(x_test)

In [15]:
# Calculating R2 Value
## Calling 'r2_score' function from library to calulate the respective value
## Passing Test O/P and precticted O/P to calculate R^2 value

from sklearn.metrics import r2_score
r_score=r2_score(y_test,y_pred)

In [16]:
# R^2 value ~ 1 ===> Better learned Model
r_score

0.9740993407213511

### Saving the Model Created

Pickle is a useful Python tool that allows you to save your ML models, to minimise lengthy re-training and allow you to share, commit, and re-load pre-trained machine learning models. Most data scientists working in ML will use Pickle or Joblib to save their ML model for future use

In [17]:
# Importing pickle and Creating a file to save the model with extension .sav

import pickle
filename="Finalized_model_linear.sav"

In [18]:
# Dumping the Model created to the file - Finalized_model_linear.sav
## The python open() function is used to open() internally stored files. It returns the contents of the file as python objects
##    Syntax : open(file_name, mode) 

pickle.dump(regressor,open(filename,'wb'))

The Model has been saved. By now you can see the file with name "Finalized_model_linear.sav" is created in your system folder as well.

### Loading the saved Model

In [27]:
# Loading the Model created to a variable - loaded_model, to proceed to Stage-II (Deployment)
# Testing the Model created by providing end user input

loaded_model=pickle.load(open("Finalized_model_linear.sav",'rb'))
result = loaded_model.predict([[15]])

# r : This string is used to read(only) the file. It is passed as default if no parameter is supplied and returns an error if no such file exists.

C:\Users\HP\Anaconda3\lib\site-packages\sklearn\base.py:451: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  "X does not have valid feature names, but"

In [28]:
result

array([[167181.3106341]])

Here hence the Salary for person with 15 years experience would be Rs.1,67,181